HeaderDialog {
  width: 24;
  border: round $secondary;
  background: $background;
}

TableDialog {
  width: 1fr;
}

EmptyDialog {
  width: 1fr;
  height: 1fr;
  border: round $secondary;
  align: center middle;
  hatch: right $success 20%;
}

EmptyDialog Label {
  width: auto;
}

TabbedContent {
  height: 1fr;  /* keeps loading indicator at center */
  background: $background;
}

TabPane {
  padding: 0;
  border: none;
}

DataFrameTable {
  border: round $secondary;
  height: 1fr;
}

PageControls {
  border: round $secondary;
  height: 3;
}

InputFilter {
  border: round $secondary;
  height: 3;
}

/* this is required to have the page controls
 * centered. i could not find a solution withtout
 * addressing the buttons' container */
PageControls Horizontal {
  align: center middle;
}

PageControls Button {
  min-width: 6;
  height: 1;
  border: none;
  background: $background;
}


InputFilter Input {
  height: 1;
  width: 1fr;
  border: none;
}

MoreScreen {
    align: center middle;
}

MoreScreen Container {
  width: 60;
  height: 16;
  border: thick $background 80%;
  background: $surface;
}

MoreScreen Label {
  margin: 1 0 0 1;
}

LogScreen Richlog {
  overflow-x: hidden;
  overflow-y: hidden;
}