TableDialog {
  height: 1fr;
  border: round $background;
  padding: 0 0;
}

#control_bar {
  layout: horizontal;
  height: 2;
  border: none;
  padding-top: 1;
}

#input_prompt {
  height: 1;
  width: 1fr;
  border: none;
}

Button {
  min-width: 6;
  height: 1;
  border: none;
}

DataFrameTable {
  height: 1fr;
}

TabPane {
  padding: 0;
  border: none;
}